.modal {
    width: 80%;
    height: 60%;
    padding: 0;
  }
  
.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.open-btn{
  display: none;
}
.close-btn{
  position: fixed;
  
}

  @media (min-width: 900px){

    .open-btn{
      display: block;
    
    }

    .open-btn,
    .close-btn {
      border: 1px solid var(--dark);
      border-radius: 5px;
      font-weight: 700;
      padding: 0.2em 1em;
      margin: 1rem 0 0;
    }
}